.row{
    padding:20px;
    background-color: #353a3f;
}
h1, h2, p{
    color: aliceblue;
}
.contendor{
    width: auto;
}
.proyectoTexto, .proyectoImagen{
    display: inline-block;
    text-align: justify;
}
.imagenProyecto1{
    box-shadow: 10px 10px 50px #000000;
}

