.row{
    padding: 20px;
}

div{
    background-color: #353a3f;
    color: aliceblue;
}
#educacion{
    color: aliceblue;
}
ul{
    color: aliceblue;

}

h1,h3{
    display: inline;
}

td{
    color: aliceblue;
}