<div class="row">
    <h1 id="educacion">Educacion</h1>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel modi at laboriosam odit autem neque dicta reprehenderit excepturi, commodi aspernatur sit voluptatum sint nemo, expedita rerum obcaecati facilis, quod nisi.</p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel modi at laboriosam odit autem neque dicta reprehenderit excepturi, commodi aspernatur sit voluptatum sint nemo, expedita rerum obcaecati facilis, quod nisi.</p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel modi at laboriosam odit autem neque dicta reprehenderit excepturi, commodi aspernatur sit voluptatum sint nemo, expedita rerum obcaecati facilis, quod nisi.</p>
        </ul>
    </div>
</div>