<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/argProgLogo.png" id="logoArgProg">
        </div>
        <div class="redes">
                <a href=""><img src="../../../assets/faceLogo.png" id="faceLogo"></a>
                <a href=""><img src="../../../assets/githubLogo.png" id="githubLogo"></a>
                <a href=""><img src="../../../assets/instagramLogo.png" id="instagramLogo"></a>
                <a href=""><img src="../../../assets/twitterLogo.png" id="twitterLogo"></a>
                <a href=""><img src="../../../assets/linkedinLogo.png" id="linkedinLogo"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()">INGRESAR</button>
        </div>
    </div>
</div>

