.row{
    padding: 20px;
}

div{
    background-color: #353a3f;
    text-align: center;
}

p{
    color: aliceblue;
}
h1{
    color: aliceblue;
}

/*Estilo foto perfil*/
@media(min-width: 576px){
    #fotoPerfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(34, 32, 32);
        left:3%;
        top: 600px;
    }
}

@media(max-width: 575px){
    #fotoPerfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(34, 32, 32);
        left:33%;
        top: 630px;
    }
}

/* editando etiqueta nombre id=#*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
}
