<div class="row">
    <h1 id="hardSoftSkills">Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-md-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [title]="'HTML'"
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [backgroundColor]="'#f2b407'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#353a3f'"
            [innerStrokeColor]="'#f2b407'"
            [animation]="true"
            [animationDuration]="900"
        >
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-md-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [title]="'Java'"
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [backgroundColor]="'#f2b407'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#353a3f'"
            [innerStrokeColor]="'#f2b407'"
            [animation]="true"
            [animationDuration]="900"
        >
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-md-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [title]="'CSS'"
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [backgroundColor]="'#f2b407'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#353a3f'"
            [innerStrokeColor]="'#f2b407'"
            [animation]="true"
            [animationDuration]="900"
        >
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-md-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [showUnits]="false"
            [title]="'Ingles'"
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [backgroundColor]="'#f2b407'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#353a3f'"
            [innerStrokeColor]="'#f2b407'"
            [animation]="true"
            [animationDuration]="900"
        >
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-md-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [showUnits]="false"
            [title]="'GitHub'"
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [backgroundColor]="'#f2b407'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#353a3f'"
            [innerStrokeColor]="'#f2b407'"
            [animation]="true"
            [animationDuration]="900"
        >
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-md-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [showUnits]="false"
            [title]="'Trabajo Grupal'"
            [titleFontSize]="'1.5em'"
            [showSubtitle]="false"
            [backgroundColor]="'#f2b407'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#353a3f'"
            [innerStrokeColor]="'#f2b407'"
            [animation]="true"
            [animationDuration]="900"
        >
        </circle-progress>
    </div>
</div>