<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 proyectoTexto">
            <h2>PortFolio Interactivo</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis dolorem ullam quibusdam quasi. Omnis vel dolore nesciunt, excepturi aliquam aperiam incidunt dignissimos consequatur aut ad libero non perspiciatis expedita culpa?</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 proyectoImagen">
            <img src="../../../assets/proyectoWeb.png" class="img-fluid imagenProyecto1">
        </div>
    </div>
</div>